*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Arial;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  vertical-align: baseline;
}

input,
button,
textarea,
select,
optgroup {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --bgc-0: #171717;
  --bgc-1: #525252;
  --bgc-2: #d4d4d4;
  --bgc-3: #fafafa;

  --shadow-c: #262626;

  --button-bg: #e0f2fe;
  --button-border: #0ea5e9;
  --button-c: #082f49;

  --square-start: blue;
  --square-end: red;
  --square-step: violet;

  background-color: var(--bgc-0);
}

button {
  background-color: var(--button-bg);
  border: 2px solid var(--button-border);
  color: var(--button-c);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bgc-1);
  max-width: fit-content;
  margin-inline: auto;
  padding: 2rem 4rem;
  border-radius: 5px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border: var(--shadow-c);
  box-shadow: var(--shadow-c);
  border-radius: 10px;
  background-color: var(--bgc-2);
  border: 2px solid black;
}

#output {
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bgc-2);
}

#board,
.square {
  border: 1px solid black;
}

#board {
  display: grid;
  box-shadow: var(--shadow-c);
}

.square {
  height: 50px;
  width: 50px;
  color: var(--bgc-3);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgc-3);
}

input[type="text"] {
  width: 10ch;
}

#multiples-container {
  transform: scale(0.9);
}
