@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* start answer */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.header, div.footer {
  display: flex;
  font-size: 0.85rem;
}

div.footer {
  background-color: rgba(128, 128, 128, 0.2);
}

div.content {
  align-self: center;
}

div.buttons, div.input {
  display: flex;
  justify-content: center;
  gap: 6px;
}

ul {
  display: flex;
  padding: 0;
  margin: 12px;
  gap: 12px;
}

ul.left-links {
  margin-right: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

button {
  padding: 8px 12px;
  margin-top: 16px;
}
