*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Arial;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  vertical-align: baseline;
}

input,
button,
textarea,
select,
optgroup {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  max-width: fit-content;
  margin: 1rem auto;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.box {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80vw;
}

.output {
  max-width: fit-content;
  margin: 1rem auto;
  border: 1px solid red;
  padding: 1rem 0.5rem;
}
