@font-face {
  font-family: customFont;
  src: url(./images/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

div.side {
  min-width: 30vw;
  height: 100vh;
  position: relative;
  background-image: url(./images/hans-ott-JQ52WeUEpwM-unsplash.jpg);
  background-size: cover;
}

div.banner {
  position: relative;
  top: 30vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  justify-content: center;
  align-items: center;
  font-family: customFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10rem;
}

img {
  height: 15vh;
}

div.main {
  --main-bg-colour: rgba(105, 105, 105, 0.1);
  font-size: 1.5rem;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--main-bg-colour);
  font-weight: 700;
  flex: 1;
}

div.text {
  flex: 3;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

div.text p {
  margin: 1.5rem;
  max-width: 80%;
}

form {
  flex: 5;
  background-color: #fff;
  flex-direction: column;
  font-weight: 600;
}

form > div {
  margin: 3rem 3rem 0 3rem;
  flex: none;
}

div.form {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  color: grey;
  font-weight: 600;
  padding-bottom: 2rem;
}

form span {
  display: flex;
  flex-direction: column;
  padding-right: 20ch;
  padding-bottom: 1.5rem;
}

div.extras {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-colour);
  margin: 0;
  padding: 3rem;
  font-size: 1.25rem;
}

label {
  letter-spacing: 1px;
}

input {
  height: 2rem;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 1ch;
  font-size: 1rem;
  width: 50ch;
}

input:invalid {
  border: 1px solid red;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 3px 3px rgba(128, 128, 128, 0.377);
  outline: none;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  background-color: darkslategray;
  border: none;
  margin-bottom: 1rem;
  font-weight: 700;
}

button:hover {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.527);
}
