*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Arial;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  vertical-align: baseline;
}

input,
button,
textarea,
select,
optgroup {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.centre {
  width: fit-content;
  margin-inline: auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.content {
  gap: 10px;
}

.display {
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.radio-container {
  justify-content: space-between;
}
