*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Arial;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  vertical-align: baseline;
}

input,
button,
textarea,
select,
optgroup {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.centre {
  margin-inline: auto;
  width: fit-content;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.box {
  border: 3px solid black;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 2px 2px 5px grey;

  &:hover {
    transform: scale(1.05);
    font-size: 1.5rem;
  }
}

:root {
  --side-bg: #64748b;
  --clear: #fef08a;
  --rain: #93c5fd;
  --cloudy: #d4d4d4;
}

@media (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}

body {
  background-color: var(--side-bg);
}

#main {
  width: clamp(400px, 75%, 80vw);
  min-height: 100vh;
  padding: 2rem;
  background-color: white;
  box-shadow: 1px 1px 3px grey;
}

.content {
  gap: 1rem;
  align-items: center;
}

#search-container {
  font-size: 1.25rem;
}

#radio-container {
  min-width: 50%;
  justify-content: space-between;

  input[type="radio"] {
    transform: scale(1.25);
    margin-left: 0.25rem;
    vertical-align: middle;
  }
}

#current-conditions {
  gap: 1rem;
  min-width: fit-content;
  width: 60%;
  align-items: center;

  > div {
    font-size: 1.5rem;
  }

  > #temp {
    font-size: 2rem;
    font-weight: 600;
  }
}

.display {
  gap: 1rem;
  margin-top: 1rem;
}

#forecast-container {
  min-width: fit-content;
  width: 60%;
  background-color: white;
}
