<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Drop Down Template</title>
    <script src="./template.js" defer="defer"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <h1>Drop Down Menu</h1>
      <div class="content">
        <div class="drop-down-hover">
          <button class="drop-down-hover-button">Hover Drop Down</button>
          <div class="drop-down-hover-content hidden">
            <a href=".">sample</a>
            <li>stuff</li>
          </div>
        </div>
      </div>
      <h1>Sample text to not move</h1>
      <div class="drop-down-click">
        <button class="drop-down-click-button">Click-Drop Down</button>
        <div class="drop-down-click-content hidden">
          <a href=".">sample</a>
          <li>stuff</li>
        </div>
      </div>
    </div>
  </body>
</html>
