*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Arial;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  vertical-align: baseline;
}

input,
button,
textarea,
select,
optgroup {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --bgc-0: black;
  --bgc-1: grey;
  --bgc-2: lightgrey;

  --borderc-0: black;
  --borderc-ship: white;

  --square-normal: lightblue;
  --square-miss: darkgrey;
  --square-hit: red;
  --square-select: yellow;

  --ship-square: grey;
  --ship-hit: crimson;
}

.hidden.ship,
.hidden.board {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

dialog {
  padding: 2rem;
  max-width: 400px;
  margin: auto;
  font-size: 1.25rem;

  > div,
  form {
    align-items: center;
    gap: 2rem;
  }
}

fieldset {
  align-items: center;
  gap: 0.5rem;

  legend {
    font-weight: 600;
    margin-inline: auto;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

::backdrop {
  background-color: var(--bgc-0);
  opacity: 1;
}

#main.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;

  > h1 {
    font-size: 3rem;
  }

  > #boards {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    > #start-button {
      height: 3rem;
      width: 8rem;
      font-size: 1.5rem;
    }
  }

  > #footer {
    display: flex;
    gap: 2rem;
    align-items: center;

    > #settings {
      display: flex;
      justify-content: center;
      font-size: 1.25rem;
    }

    > button {
      min-height: 2rem;
    }
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
}

.square {
  height: 50px;
  background-color: var(--square-normal);
  border: 1px solid var(--borderc-0);
  position: relative;

  &.shot {
    background-color: var(--square-miss);
  }

  &.hit {
    background-color: var(--square-hit);
  }

  &.selected {
    background-color: var(--square-select);
  }
}

.ship-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
  border: 1px solid var(--borderc-0);
  align-items: center;
  max-width: 450px;
}

.ship {
  display: flex;
  z-index: 1;

  > .square {
    width: 50px;
    height: 50px;
    background-color: var(--ship-square);
    border: none;

    &.hit {
      background-color: var(--ship-hit);
    }
  }

  &.placed {
    position: absolute;
    left: -1px;
    top: -1px;
  }

  &.rotated {
    flex-direction: column;
  }

  &.selected {
    transform: scale(1.1);
  }
}
