*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.15;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, 'Segoe UI', Roboto, Arial;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

svg {
    vertical-align: baseline;
}

input, button, textarea, select, optgroup {
    font: inherit;
    font-size: 100%;
    line-height: 1.15;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

:root {
    --sidebar-bg-color: grey;

    --main-bg-color: white;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

#page {
    display: flex;
    background-color: var(--main-bg-color);
    min-height: 100vh;
}

#sidebar {
    background-color: var(--sidebar-bg-color);
}

#profile {
    margin: 3rem auto;
    width: fit-content;
}

#sidebar-projects {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

    > #sidebar-projects-top {
        justify-content: space-around;
        align-items: center;
        gap: 3ch;
    }

    > .sidebar-project {
        justify-content: space-between;
        gap: 2rem;
    }
}

#main {
    position: relative;
    padding: 5rem;
    min-width: 40%;

    #main-date {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}

.main-cell {
    margin-bottom: 5rem;
    
    .main-deadline {
        margin-bottom: 3rem;
    }
}

.main-project {
    flex-direction: column;
    gap: 0.75rem;

    .project-top {
        gap: 1rem;
    }
}

.project-task {
    gap: 2rem;
}

dialog {
    margin: auto;
}

::backdrop {
    background-color: grey;
    opacity: 0.5;
}

input:last-child {
    content: "Add Task";
}